.coffee-cards-section {
    padding: 50px 0;
    text-align: center;
    background-color: #074933;
}

.coffee-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.coffee-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.coffee-card:hover {
    transform: translateY(-5px);
}


.coffee-cards-container .coffee-card {
    /* Add your specific styles for the coffee cards here */
    width: 250px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }